#*.o
*.a
.*
*.db
!.gitignore
Client/CHANGELOG.md                                                                                                                             
Client/LICENSE                                                                                                                                  